@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #1f271b;
}

body {
  background-color: #fcfcfc;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.section-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.section-subheader {
  display: block;
  margin-top: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.section-subheader-top {
  display: block;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.section-header.white {
  font-size: 80px;
  line-height: 80px;
  color: #fff;
}

.section-subheader.white {
  color: #fff;
}

.section-subheader-top.white {
  color: #fff;
}

.header {
  padding-top: 28px;
  background-color: #f4b02b;
  background-image: url(img/top-header\ 1.png);
  background-position: 0 50px;
  background-repeat: repeat-x;
  min-height: 112px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 19px;
}
.nav-menu, .login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-right: 47px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.login-item {
  margin-right: 38px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.nav-item:last-child, .login-item:last-child {
  margin-right: 0;
}

.nav-item:hover, .login-item:hover {
  cursor: pointer;
}

.nav-item a, .login-item a {
  text-decoration: none;
}

.nav-item a:hover, .login-item a:hover {
  color: #fff;
}

.main {
  padding-top: 23px;
  background: url(img/kisspng-world-of-warcraft-warcraft-orcs-humans-warcraft-wow-5adf0e8c3a9832.png)no-repeat 566px 23px;
}

.title {
  display: block;
  margin-top: 70px;
  font-weight: 700;
  font-size: 80px;
  line-height: 102.4%;
}

.title-description {
  display: block;
  margin-top: 23px;
  max-width: 447px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.main-button {
  margin-top: 38px;
  padding: 14px 30px;
  border: none;
  border: 2px solid #f4b02b;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-button:hover {
  cursor: pointer;
}

.slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 98px;
  margin-left: 360px;
}

.slider-prev, .slider-next {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 66px;
  height: 66px;
  background-color: #f4b02b;
  border-radius: 3px;
}

.slider-prev:hover, .slider-next:hover {
  cursor: pointer;
}

.offers-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 68px;
}

.offers-menu-item {
  padding: 32px 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  background-color: rgba(244, 176, 43, 0.12);
  border-radius: 3px;
}

.offers-menu-item.active {
  background-color: #f4b02b;
  color: #fff;
}

.offers-menu-item:hover {
  cursor: pointer;
}

.offers-items-wrap {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 33px;
}

.offers-item {
  width: 367px;
  height: 168px;
  background: url(img/image4.png) no-repeat;
  margin-bottom: 30px;
}

.sale {
  margin-top: 100px;
  padding-top: 54px;
  min-height: 648px;
  background: url(img/image5.png) no-repeat;
  background-size: cover;
}

.products {
  margin-top: 112px;
}

.products-items-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}

.products-item {
  padding: 21px;
  width: 279px;
  height: 327px;
  background: url(img/image4-1.png) no-repeat center;
  background-size: cover;
  border-radius: 5px;
}

.subscribe .container {
  margin-top: 197px;
  padding: 49px 0 0 63px;
  min-height: 395px;
  background: url(img/image6.png) no-repeat;
}

.subscribe .section-subheader {
  display: block;
  max-width: 35%;
  margin: 15px 0 88px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.advantages {
  min-height: 519px;
  margin-top: 117px;
  padding-top: 65px;
  background: url(img/image7.png) no-repeat ;
  background-size: cover;
}

.advantages .container {
  text-align: center;
}

.advantages .container .section-header.white {
  font-weight: 700;
  font-size: 65px;
  line-height: 67px;
}

.footer {
  margin-top: 80px;
  min-height: 680px;
  background-color: #202020;
  background-image: url(img/image17.png); 
  background-repeat: repeat-x;
  background-size: contain;
  /* background-position: 0px -20px; */
}