/* 
6. текст сдвинулся на 20px слева и справа
7. текст слева и справа сдвинулся еще на 15px, сверху и снизу не сдвинулся
8. padding изменил высоту элемента, визуально высота не изменилась
9. по высоте элемент не сдвинулся. Если убать все отступы, то рамка будет вплотную к элементу. Элемент сдвигается слевой стороны.
10. border перекрывает текст нижний текст.
11. Текст расположен над border.
14. На верхней строке текст через пробел, на нижней слитно. Элементы нижней строки перекрываю элементы на верхней.
 */
* {
  margin: 0;
  padding: 0;
}
.block {
  height: 250px;
  width: 250px;
  border: 1px dashed #585c73;
  margin: 20px;
}

.block span {
  /* margin: 20px; */
  /* padding: 15px; */
  /* border: 15px solid aliceblue; */
}

span {
  padding: 5px;
  background-color: #008EB0;
  color: #fff;
}